@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; 
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    color: rgb(102, 102, 102);
}
.list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.modal {
    text-align: center; 
}
.task-time {
    float: left;
    cursor: pointer;
}
.item {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #222;
    margin: 5px;
    width: 400px;
    position: relative;
    border-radius: 8px;

}
.task-checked {
    position: absolute;
    left: -20px;
    top: 30%;
    cursor: pointer;
}
p, button {
    display: inline-block;
}
.inline {
    display: inline-block;
}
.remove-button {
    background-color: #fff;
    border: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
    top: 25%;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.task-text {
    margin: 5px 0 5px 0;
    cursor: pointer;
}
.title {
    text-align: center;
}
.input-time {
    display: inline-block;
}
.add-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; 
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    color: rgb(102, 102, 102);
    background: linear-gradient(rgb(255, 255, 255) 5%, rgb(246, 246, 246) 100%) rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    padding: 6px 24px;
}